<h1>Informacion Sobre nosotros</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, quod. Eos laboriosam nobis unde suscipit, repellat officia ab distinctio natus hic libero odit atque tempore commodi ratione illum veniam eius.</p>
<%= link_to "Volver a la pagina principal", root_path %>

